## Try Pandas Notebook

In [1]:
import numpy as np
import pandas as pd

In [5]:
example_series = pd.Series([1,2,4,6,8,10])
example_series

0     1
1     2
2     4
3     6
4     8
5    10
dtype: int64

In [7]:
example_array = np.arange(5,100,5)
example_array

array([ 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85,
       90, 95])

In [22]:
june_series = pd.Series({'Name':'Juné',
                        'Band':'BNK48',
                        'Generation':2,
                        'Team':'BIII',
                        'Age':20,
                        'Birthday':pd.Timestamp('20000626')})
june_series

mobile_series = pd.Series({'Name':'Mobile',
                          'Band':'BNK48',
                          'Generation':1,
                          'Team':'NV',
                          'Age':18,
                          'Birthday':pd.Timestamp('20020719')})

june_series
mobile_series

Name                       Mobile
Band                        BNK48
Generation                      1
Team                           NV
Age                            18
Birthday      2002-07-19 00:00:00
dtype: object

In [28]:
bnk_frame = pd.DataFrame([june_series,mobile_series])

bnk_frame

     Name   Band  Generation  Team  Age   Birthday
0    Juné  BNK48           2  BIII   20 2000-06-26
1  Mobile  BNK48           1    NV   18 2002-07-19